<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQS2MiWoQvEFxY2xS7JtEc5eC43mYzi5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1012551442555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teachersContactBookMbstu.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>contacts-app-783a6</string>
	<key>STORAGE_BUCKET</key>
	<string>contacts-app-783a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012551442555:ios:e7ce237e42c69e928b42de</string>
</dict>
</plist>